<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Özet Verilerim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-card-title style="text-align: center; margin: 0;">
            {{ 'Kriterler' }}
          </ion-card-title>
        </ion-col>
      </ion-row>
       <ion-row class="ion-align-items-center">
          <ion-col>
              <ion-item>
                <ion-select label="Görüntüleme Seçeneği" placeholder="Seç" [(ngModel)]="krt().showing" (ionChange)="showingOptionChanged()" >
                  @for (item of showingOptions(); track $index) { <ion-select-option [value]="item.code">{{ item.val }}</ion-select-option>  }
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
         <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-item>
                <ion-select label="Aralık Seçeneği" placeholder="Seç" [(ngModel)]="krt().time"  (ionChange)="timeOptionChanged()">
                 @for (item of timeOptions(); track $index) { <ion-select-option [value]="item.code">{{ item.val }}</ion-select-option> }
                </ion-select>
              </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>    
</ion-card>
@if(dataList().length > 0) {
 <ion-card>
    <ion-grid>
       <ion-row class="ion-align-items-center">
        <ion-col style="text-align: center;">          
          <ion-item>
            <ion-select [(ngModel)]="krt().summary">
              @for (item of summaryOptions; track $index) { <ion-select-option [value]="item.code">{{ item.val }}</ion-select-option>  }
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-font-size-small">
        <ion-col size="3"> {{ titles()[0] + ' : ' }} </ion-col>
        <ion-col size="3"> {{ (calorieIntake | number: '1.0-0') + postFixes()[0] }} </ion-col>
        <ion-col size="3"> {{ titles()[1] + ' : ' }} </ion-col>
        <ion-col size="3"> {{ (calorieBurnt | number: '1.0-0') + postFixes()[0]}} </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-font-size-small">
        <ion-col size="3"> {{ titles()[2] + ' : ' }} </ion-col>
        <ion-col size="3"> {{ (calorieDef  | number: '1.0-0') + postFixes()[0] }} </ion-col>
        <ion-col size="3"> {{ titles()[3] + ' : ' }} </ion-col>
        <ion-col size="3"> {{ (proteinIntake | number: '1.0-0') + postFixes()[1]}} </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="3"> {{ titles()[4] + ' : ' }}  </ion-col>
        <ion-col size="3"> {{ (carbsIntake | number: '1.0-0') + postFixes()[1] }} </ion-col>
        <ion-col size="3"> {{ titles()[5]  + ' : '  }} </ion-col>
        <ion-col size="3"> {{ (fatIntake | number: '1.0-0')  + postFixes()[1] }} </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" [ngStyle]="{'color': color }"> {{ infoText }}  </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-card>


  @for(item of dataList(); track $index){
    <ion-card>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-card-title style="text-align: center; margin: 0;">
              {{ item.date | date: dateFormat() }}
            </ion-card-title>
          </ion-col>
        </ion-row>
         <ion-row class="ion-align-items-center ion-font-size-small">
          <ion-col size="3"> {{ titles()[0] + ' : ' }} </ion-col>
          <ion-col size="3"> {{ getTotalVals(item,'calorieIntake') + postFixes()[0] }} </ion-col>
          <ion-col size="3"> {{ titles()[1] + ' : ' }} </ion-col>
          <ion-col size="3"> {{ item.burntEnergy  + postFixes()[1]}} </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-font-size-small">
          <ion-col size="3"> {{ titles()[2] + ' : ' }} </ion-col>
          <ion-col size="3"> {{ (item.burntEnergy - getTotalVals(item,'calorieIntake')) + postFixes()[0] }} </ion-col>
          <ion-col size="3"> {{ titles()[3] + ' : ' }} </ion-col>
          <ion-col size="3"> {{ getTotalVals(item,'proteinIntake') + postFixes()[1]}} </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col size="3"> {{ titles()[4] + ' : ' }}  </ion-col>
          <ion-col size="3"> {{ getTotalVals(item,'carbsIntake') + postFixes()[1] }} </ion-col>
          <ion-col size="3"> {{ titles()[5] + ' : '  }} </ion-col>
          <ion-col size="3"> {{ getTotalVals(item,'fatIntake')  + postFixes()[1] }} </ion-col>
        </ion-row>
      </ion-grid>    
    </ion-card>
  }
}
@else {
  <ion-card>
    <ion-grid>
       <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-card-title style="text-align: center; margin: 0;">
            {{ 'İlgili kriterlere uygun veri bulunamadı.' }}
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
}
 
</ion-content>
