<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Günlük Değerler
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-button expand="block" fill="outline" (click)="showPreviousDay()">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-card-title style="text-align: center; margin: 0;">
            {{ shownData().date | date: dateFormat() }}
          </ion-card-title>
        </ion-col>
        <ion-col size="2">
        <ion-button expand="block" fill="outline" (click)="showNextDay()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>    
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title class="mb-3">Toplam</ion-card-title>
       <ion-card-subtitle>
        Kalori : {{ totalCalorie() + postFixes()[0] }}
      </ion-card-subtitle>
       <ion-card-subtitle>
        @if(isEdit()){
          <ion-grid class="ion-no-padding" style="width: 100%;">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto" style="text-align: left;">
                Yakılan Kalori : 
              </ion-col>
              <ion-col size="auto" style="text-align: right;">
                <ion-input 
                  type="number" 
                  inputmode="decimal" 
                  min="0"
                  placeholder="0"
                  max="10000"
                  min="0"
                  class="w-2rem"
                  [(ngModel)]="shownData().burntEnergy"
                  (ionBlur)="saveBurntValue()">
                </ion-input>
              </ion-col>
              <ion-col size="auto" style="text-align: left;">
                {{ postFixes()[0]}}     
              </ion-col>
            </ion-row>
          </ion-grid>
        }
        @else{
          <ion-grid class="ion-no-padding" style="width: 100%;">
            <ion-row class="ion-align-items-center ion-justify-content-between">
              <ion-col size="auto" style="text-align: left;">
                {{'Yakılan Kalori :'+(shownData().burntEnergy ?? 0) + postFixes()[0]}} 
              </ion-col>
              <ion-col size="auto" style="text-align: right;">
                <ion-button expand="block" fill="outline" (click)="openEdit()">
                  <ion-icon slot="icon-only" [icon]="pencilIcon"></ion-icon>
                </ion-button> 
              </ion-col>
            </ion-row>
          </ion-grid>
        }     
      </ion-card-subtitle> 
      <ion-card-subtitle [ngStyle]="{'color': (totalCalorie() > (shownData().burntEnergy ?? 0) )  ? 'red' : 'green'}">
        Kalori Açığı : {{ ((shownData().burntEnergy ?? 0) - totalCalorie()) +  postFixes()[0] }}
      </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Karbonhidrat : {{ totalCarb() + postFixes()[1] }} |
    Protein : {{ totalProtein() + postFixes()[1] }} |
    Yağ : {{ totalFat() + postFixes()[1] }}  
  </ion-card-content>
</ion-card>

@for(meal of meals(); track $index) {
  <ion-card>
    <ion-card-header>
      <ion-grid class="ion-no-padding" style="width: 100%;">
        <ion-row class="ion-align-items-center ion-justify-content-between">
          <ion-col size="auto" style="text-align: left;">
            <ion-card-title style="margin: 0;">{{ meal.title }}</ion-card-title>
          </ion-col>
          <ion-col size="auto" style="text-align: right;">
            <ion-button expand="block" fill="outline" (click)="editMeal(meal.intakeType)">
              <ion-icon slot="icon-only" [icon]="pencilIcon"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-subtitle>
        Kalori : {{ (shownData()[meal.intakeType].calorieIntake ?? 0) + postFixes()[0] }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Karbonhidrat : {{ (shownData()[meal.intakeType].carbsIntake ?? 0) + postFixes()[1] }} |
      Protein : {{ (shownData()[meal.intakeType].proteinIntake ?? 0) + postFixes()[1] }} |
      Yağ : {{ (shownData()[meal.intakeType].fatIntake ?? 0) + postFixes()[1] }} 
    </ion-card-content>
  </ion-card>
}
</ion-content>

